* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}
body{
	text-align: center;
}
.score{
	font-size: 0.75rem;
	font-weight: 900;
	font-family: "微软雅黑";
	margin-top: 1rem;
}
.game2048{
	height: 9rem;
	position: relative;
}
.container {
	margin-left: 50%;
	transform: translate(-50%,0);
	width: 9rem;
	height: 9rem;
	background-color: #aa8e8e;
	border-radius: 10px;
}
.grid{
	width: 1.8rem;
	height: 1.8rem;
	background-color: #cabdbd;
	border-radius: 10px;
	margin-left: 0.36rem;
	margin-top: 0.36rem;
	float: left;
}
.container2 {
	margin-left: 50%;
	transform: translate(-50%,0);
	width: 9rem;
	height: 9rem;
	position: absolute;
	top: 0px;
}
.cell{
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 10px;
	font-size: 1.4rem;
	line-height: 1.8rem;
	position: absolute;
}
#c00,#c10,#c20,#c30{
	left: 0.36rem;
}
#c01,#c11,#c21,#c31{
	left: 2.52rem;
}
#c02,#c12,#c22,#c32{
	left: 4.68rem;
}
#c03,#c13,#c23,#c33{
	left: 6.84rem;
}
#c00,#c01,#c02,#c03{
	top: 0.36rem;
}
#c10,#c11,#c12,#c13{
	top: 2.52rem;
}
#c20,#c21,#c22,#c23{
	top: 4.68rem;
}
#c30,#c31,#c32,#c33{
	top: 6.84rem;
}
.t2{
	background-color: #eeeedd;
}
.t4{
	background-color: #eeee99;
}
.t8,.t16,.t32,.t64{
	background-color: purple;
}
.t128,.t256,.t512{
	font-size: 1.2rem;
	background-color: blue;
	
}
.t1024,.t2048,.t4096,.t8192{
	font-size: 0.9rem;
	background-color: orange;
}
.t16384{
	font-size: 0.7rem;
	background-color: black;
}
.t8,.t16,.t32,.t64,.t128,.t256,.t512,.t1024,.t2048,.t4096,.t8192,.t16384{
	color: white;
}
#gameover{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.transparent{
	background-color: #555;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}
.overmessage {
	background-color: white;
	font-size: 0.8rem;
	font-weight: 900;
	font-family: "微软雅黑";
	border: 2px solid #eb5b5b;
	border-radius: 10px;
	width: 5rem;
	padding: 0.2rem 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
#restart{
	font-size: 0.7rem;
	font-weight: 700;
	font-family: "微软雅黑";
	border: 2px solid #7e6ae3;
	border-radius: 5px;
	background-color: #5e42e8;
	cursor: pointer;
}

