* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}
body{
	text-align: center;
}
.score{
	font-size: 0.8rem;
	font-weight: 900;
	font-family: "微软雅黑";
	margin-top: 1rem;
}
.container {
	margin-left: 50%;
	transform: translate(-50%,0);
	width: 9rem;
	height: 9rem;
	background-color: #aa8e8e;
	border-radius: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}
.grid{
	width: 21%;
	height: 21%;
	background-color: #cabdbd;
	border-radius: 15px;
	font-size: 2rem;
	line-height: 2rem;
}
.t8,.t16,.t32,.t64,.t128,.t256,.t512,.t1024,.t2048,.t4096,.t8192,.t16384{
	color: white;
	background-color: #AA0088;
}
